<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="trakerr.apiKey" value="a7a2807a2e8fd4602f70e9e8f819790a267213934083" />
      <add key="trakerr.url" value="http://192.168.0.110:3000/api/v1/" />
      <add key="trakerr.contextAppVersion" value="1.0" />
      <add key="trakerr.contextEnvName" value="development"/>
    </appSettings>
</configuration>