<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="trakerr.apiKey" value="eefea6e9b269190715181109c44a7a0810905114236106" />
      <add key="trakerr.url" value="https://www.trakerr.io/api/v1" />
      <add key="trakerr.contextAppVersion" value="1.0" />
      <add key="trakerr.deploymentStage" value="development"/>
    </appSettings>
</configuration>